body
  font 16px Ubuntu, sans-serif

.editable
  background #ffb
  padding 2px
  

.btn
  margin-top .5ex
  margin-bottom .5ex

.container 
  max-width 730px

.swap
  margin-left -.5em

.questions
  .question
    margin-top 1em
    margin-bottom 1em

    .buttons
      text-align right

  .info
    font-size 80%
    font-style italic
